.sidenav{
    background-color: #3f51b5;
    width: 200px;
}
.sidenav a{
    color:#fff;
}

.sidenav i{
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;;
}

.header{
    display: flex;
    align-items: center;
  }
  
  .header a{
      display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .header .logo{
  max-height: 50px;
  }
   
    
  